<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BloomingMarvellousiOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8ADE5FBB2FC6617B004F1ABB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8ADE5FC82FC6617C004F1ABB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8ADE5FD22FC6617C004F1ABB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
